* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "opensans";
      font-weight: 400;
    text-decoration: none;
    line-height: 1.2;
  }
  
  input, button {
    border: none;
  }
  
  @font-face {
    font-family: 'opensans';
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'opensans';
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
  }
    
  .header {
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    
    position: relative;
    
    z-index: 0;
  }
  
  .header::after {
    content: " ";
    position: absolute;
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    background-color: #000000;
    opacity: 0.6;
    
    z-index: -1;
  }
  
  .header-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 15px 135px;
    
  }
  
  .box {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 118px;
  }
  
  .header-logo {
    width: 180px;
  }
  
  .menu-list {
    display: flex;
    justify-content: flex-end;  
    list-style: none;
  }
  
  .menu-list-item:nth-child(n+2) {
    margin-left: 33px;
  }
  
  .menu-link {
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    
    display: flex;
  }
  
  .menu-link:hover {
    text-decoration: underline;
    color: #ffffff;
  }
  
  .container {
    margin-top: 118px; 
    margin-left: auto;
    margin-right: auto;
  }
  
  .header-title {
    color: #ffffff;
    font-size: 45px;
    line-height: 1.67;
    font-weight: 700;
    
    text-transform: uppercase;
    text-align: center;
  }

  .trends {
    padding-top: 58px;
}

  .title {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #0f0d0e;
    text-align: center;
  }

  .title:after {
    content: ""; 
    display: block;
  
    margin-top: 8px;
    width: 66px; 
    height: 3px; 
    margin-left: auto;
    margin-right: auto;
    background: #e1d9bd; 
  }
  
.body__trends {
    display: flex;
    flex-wrap: wrap;
    /* min-width: 1200px; */
    margin-top: 27px;
    justify-content: space-between;
}

.trend {
  min-height: 320px;
  width: calc(25% - 3px);
}

.trend1 {
  background-image: url('../images/trend1.jpg');
  /* height: 320px; */
  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  
  /* position: relative;
  
  z-index: 0;
   */
}
.trend2 {
 
  background-image: url('../images/trend2.jpg');
  /* width: calc(25% - 3px);
   */
   height: 320px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  
  /* position: relative;
  
  z-index: 0; */
}
.trend3 {
  background-image: url('../images/trend3.jpg');
  /* width: calc(25% - 3px); */
  height: 320px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  
  /* position: relative;
  
  z-index: 0; */
}
.trend4 {
  background-image: url('../images/trend4.jpg');
  /* width: calc(25% - 3px); */
  height: 320px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  
  /* position: relative;
  
  z-index: 0; */
}


/* .trend1:after {
  content: " ";
  position: absolute;
  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  background-color: #000000;
  opacity: 0.6;
  
  z-index: -1;
}
.trend2:after {
  content: " ";
  position: absolute;
  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  background-color: #000000;
  opacity: 0.6;
  
  z-index: -1;
}
.trend3:after {
  content: " ";
  position: absolute;
  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  background-color: #000000;
  opacity: 0.6;
  
  z-index: -1;
}
.trend4:after {
  content: " ";
  position: absolute;
  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  background-color: #000000;
  opacity: 0.6;
  
  z-index: -1;
} */

/* .trend__img {
  max-width: 100%;
  display: block;
}

.trend__imgbox::before {
  content: "";
  box-sizing: border-box;
  width: 100%; 
  height: 100%;

  background-color: rgba(0, 0, 0, 0.6);
  
  position: absolute;
  top: 0; 
  left: 0; 
} */

.border__trend {
  
  box-sizing: border-box;
  width: calc(100% - 44px);
  /* height: calc(100% - 32px); */
  padding: 32px;

  border: 3px solid rgba(181, 159, 91, 0.6);

  /* bottom: 16px;
  left: 22px; */

  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

  .title__trend_link {
    color: white;
 
    font-weight: 700;
    font-size: 20px;
 
    line-height: 1.2;
  }

 

  a.preview__tegs {
    text-decoration: none;
  }
  
  a.title-preview__link, a.textshop_link {
    text-decoration: none;
  }
  
  .wrap {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 15px;
    
    display: flex;
    justify-content: space-between;
  }
  
  .previews {
    width: 778px;
  }
  
  .preview {
    display: flex;
    flex-wrap: wrap;
  }
  
  .preview:nth-child(n+2) {
    margin-top: 64px;
  }
  
  .preview__box-img {
    width: 381px;
  }
  
  .preview__info {
    margin-left: 30px;
    width: 367px;
  }
  
  .preview__tegs-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
   
  .preview__tegs-item {
    margin-right: 21px;
  }
  
  .preview__tegs:hover {
    text-decoration: underline;  
  }
  
  .preview__tegs {
    font-size: 14px;
    text-transform: uppercase;
    color: #b59f5b;
    font-weight: 700;
  }
  
  .preview__title {
    margin-top: 9px;
    margin-bottom: 29px;
  }
  
  .title-preview__link {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    
    
    line-height: 1.2;
  }

  .preview__link {
    color: #0f0d0e;
  }
  
  .title-preview__link:hover {
    color: #b59f5b;
  }
  
  .date-author__list {
    display: flex;
    margin-bottom: 48px;
  }
  
  .preview__datetime {
    font-size: 12px;
    color: #888888;
    font-weight: 700;
  }
  
  .author-preview {
    font-size: 12px;
    color: #000000;
    font-weight: 700;
    margin-left: 13px;
  }
  
  .preview__content, .text__shop {
    font-size: 15px;
    color: #0f0d0e;
  }
  
  .preview__content_next {
    font-size: 15px;
    color: #0f0d0e;
    margin-top: 17px;
  }
  
  .aside {
    width: 272px;
  }
  
  section:nth-child(n+2) {
    margin-top: 62px;
  }
  
  h3::after {
    content: " "; 
    display: block;
  
    margin-top: 12px;
    width: 66px; 
    height: 3px; 
    margin-left: auto;
    margin-right: auto;
    background: #e1d9bd; 
  }
  
  .aside__title {
    font-size: 14px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    
    margin-bottom: 38px;
    
    text-align: center;
  }
  
  .aside__preview {
    display: flex;
    flex-wrap: wrap;
  }
  
  .aside__preview:nth-child(n+2) {
    margin-top: 22px;
  }
  
  .aside__box-img{
    width: 71px;
  }
  
  .aside__info {
    width: 178px;
    margin-left: 18px;
    
    position: relative;
    top: -8px;
  }
  
  .aside__date {
    font-size: 12px;
    color: #000000;
    font-weight: 700;
    opacity: 0.54;
  }
  
  .aside-title__preview {
    margin-top: 2px;
  }
  
  .title-aside__link {
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    line-height: 0.8; 
  }
  
  .title-aside__link:hover {
    color: #b59f5b;
  }
  
  .search {
    display: flex;
    margin-top: 62px;
  }
  
  .field_search {
    box-sizing: border-box;
    width: 223px;
    
    padding: 15px 25px 18px 15px;
    margin: 0;
    
    font-size: 13px;
    height: 49px;
    background-color: #f4f7f6;
  }
  
  
  .field_search:focus {
    outline: none;     
    border-top: 1px solid #b59f5b;
    border-left: 1px solid #b59f5b;
    border-bottom: 1px solid #cabc8f;
  }
  
  .button_search {
    width: 49px;
    height: 49px;
    background-color: #b59f5b;
  }
  
  .button_search:hover {
    background-color: #323232;
  }
  
  .field_subscribe {
    box-sizing: border-box;
    width: 272px;
    
    padding: 15px 25px 18px 15px;
    margin: 0;
    
    font-size: 13px;
    height: 49px;
    background-color: #f4f7f6;
    outline: none;   
  }
  
  .field_subscribe:focus {
    border-top: 1px solid #b59f5b;
    border-left: 1px solid #b59f5b;
    border-right: 1px solid #b59f5b;
    border-bottom: 1px solid #cabc8f;
  }
  
  .button_subcribe {
    width: 272px;
    height: 49px;
    margin-top: 18px;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    
    background-color: #b59f5b;
  }
  
  .button_subcribe:hover {
    background-color: #323232;
  }
  
  .aside__list_tegs {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  
  .aside__teg {
    border: 3px solid #eeeeee;
    padding: 6px 12px;
    text-align: center;
    
    margin-bottom: 6px;
    margin-right: 5px;
  }
  
  a.aside__teg_link {
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    line-height: 1.3;
  }
  
  .aside__teg:hover { 
    border: 3px solid #b59f5b;
    padding: 6px 12px;
    text-align: center;
    
    margin-bottom: 6px;
    margin-right: 5px;
  }
  
  .categories__box {
    margin-bottom: 8px;
    list-style: none;
  }
  
  .categoria {
    width: 272px;
    height: 47px;
    padding: 10px 0 0px 0;
    border-bottom: 1px solid #eeeeee;
    vertical-align: middle;
  }
  
  a.categoria__link {
    text-decoration: none;
    font-size: 14px;
    color: #000000;
    font-weight: 700;
  }
  
  a.categoria__link:hover {
    color: #b59f5b;
  }
  
  .sup {
    vertical-align: super;
    position: relative;
    top: 3px;
    
    text-decoration: none;
    font-size: 12px;
    color: #b59f5b;
    font-weight: 700;
  }

  .body__shops {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 27px;
    padding: 0 15px 64px;
    
    display: flex;
    justify-content: space-between;
  }

  .shop__imgbox {
    position: relative;
    z-index: -1;
    
  }

  .shop__img {
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  .border__shop {
    position: relative;

    box-sizing: border-box;
    max-width: 348px;
    min-height: 267px;
    
    padding: 52px 24px 24px;

    margin-top: -31px;

    border: 3px solid rgba(181, 159, 91, 0.6);

    display: flex;
    flex-wrap: wrap;
  }

  .price-shop__box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  

  .title__shop, .price__second {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    
    line-height: 1.2;
  }

  .title__shop {
    margin-bottom: -20px;
  }
  
 
  
  .textshop_link {
    color: #b59f5b;
  }

  .textshop_link:hover {
    text-decoration: underline;
  }
  
  .price__first {
    text-decoration: line-through;
    font-weight: 700;
    font-size: 14px;
  }

 
  .only_second {
    margin-top: 15px;

  }

  .shop__link {
    /* display: flex; */
   

    width: 140px;
    height: 48px;
    background-color: #b59f5b;
    padding-top: 16px;
    
  }

  .shop__link:hover {
    background-color: #323232;
  }

  .shop__link_text {
    display: block;
    text-align: center; 
    height: 100%;
    
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    
  }

  
  
  .footer {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 15px 12px;
  }
  
  .copyright{
    margin-top: 73px;
    text-align: center;
  }
  
  .copyright__text{
    font-size: 12px;
    color: #999999;
    font-weight: 700;
  }
  
  .socials{
    width: 1170px;
    height: 83px;
    background-color: #f4f7f6;
    padding-top: 31px;
  }
  
  .socials_list{
    text-align: center;
  }
  
  ul.socials_list li{
    list-style: none;
    display: inline-block;
  }
  
  ul.socials_list li:nth-child(n+2) {
    margin-left: 26px;
  }
  
  .socials-link{
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    padding: 10px;
   }
    
  .socials-link-twitter{
    background-image: url("../svg/004-twitter.svg");
  }
  .socials-link-pinterest{
    background-image: url("../svg/001-pinterest.svg");
  }
  .socials-link-facebook{ 
    background-image: url("../svg/002-facebook-logo.svg");
  }
  .socials-link-instagram{ 
    background-image: url("../svg/005-instagram.svg");
  }
  .socials-link-tumblr{ 
    background-image: url("../svg/003-tumblr.svg");
  }
  
  .hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  } 
  

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .trend {
      width: calc(50% - 3px);
      height: calc(50% - 3px);
      align-items: space-between;
    }
  }
  